.instruction-button {
    background-color: #1a3c57;
    color: #fff;
    border: 1px solid white;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.instruction-button:hover {
    background-color: #217992;
}

main ul li {
    font-size: 18px;
    list-style: none;
}