.instruction-button {
    background-color: #081e2c;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

main ul li {
    font-size: 18px;
    list-style: none;
}