* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    text-align: center;
    background-color: #3498db;
    padding: 20px 0;
    color: #fff;
    width: 100vw;
    margin-bottom: 5vh;
}

/* Main styles */
main {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    color: #333;
    margin-bottom: 4vh;
}

/* Card styles */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 700px;
}

/* Interest options styles */
.interest-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.interest-option {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 18px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.interest-option:hover {
    background-color: #2980b9;
}

/* Question container styles */
#quesContainer {
    text-align: justify;
}

/* Question styles */
.question {
    margin: 20px 0px;
}

.question p {
    font-size: 18px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

/* Option button styles */
.option button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #E7E9EB;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    font-size: 16px;
}

.option button:hover {
    background-color: #cacaca;
}

/* Question index styles */
.questionIndex {
    font-size: 26px;
    font-weight: 400;
    margin: 10px 0;
}

.option button.selected {
    background-color: #2980b9;
    color: #fff;
}

/* Next button styles */
.next-button {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #1d5981;
}

/* Score styles */
.score {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Score Result styles */
#scoreResult {
    margin-top: 20px;
    text-align: left;
}